* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    outline: none;
}

body {
    margin: 50px;
}

.wrapper {
    width: 500px;
}

input {
    margin: 20px 0;
    padding: 10px 20px;
    border: 1px solid black;
}

ul#result {
    list-style: none;
}

ul#result li {
    padding: 20px;
    margin-bottom: 10px;
    border-left: 3px solid #dddddd;
    background-color: #f3f3f3;
}

.delete {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    text-align: center;
    background-color: red;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}
